.jumbotron {
    background-image: url(../img/bg.png);
    background-size: cover;
   background-repeat: no-repeat;
    background-position: center
    
}


.Home {
    background-color: gray;
    outline-color:white ;
    color: white;
}

.nav {
    color: white;
}